Verilog/文档/密/

Verilog/onHeijin/db
Verilog/onHeijin/incremental_db
Verilog/onHeijin/output_files
Verilog/onHeijin/simulation
Verilog/onHeijin/.qsys_edit

Verilog/ch1os4in55kbps/db
Verilog/ch1os4in55kbps/incremental_db
Verilog/ch1os4in55kbps/output_files
Verilog/ch1os4in55kbps/simulation
Verilog/ch1os4in55kbps/.qsys_edit

Verilog/ch8os1in240kbps/db
Verilog/ch8os1in240kbps/incremental_db
Verilog/ch8os1in240kbps/output_files
Verilog/ch8os1in240kbps/simulation
Verilog/ch8os1in240kbps/.qsys_edit

Verilog/ch8os2in114kbps/db
Verilog/ch8os2in114kbps/incremental_db
Verilog/ch8os2in114kbps/output_files
Verilog/ch8os2in114kbps/simulation
Verilog/ch8os2in114kbps/.qsys_edit

Verilog/ch8os4in55kbps/db
Verilog/ch8os4in55kbps/incremental_db
Verilog/ch8os4in55kbps/output_files
Verilog/ch8os4in55kbps/simulation
Verilog/ch8os4in55kbps/.qsys_edit